.dashboard-container{
    height: 100vh;
    width: 100%;
 
}

.form-body{
    margin-left: auto;
    margin-right: auto;
    min-height: 900px;
    max-width: 719px;
    height: 100%;
    background: linear-gradient(180deg,#e2f3ea,#fff);; 
    padding: 20px
}

