

.App {
  height: 100vh;
  width: 100vw;
}



.btn-light{
  width: 118px;
  height: 35px;
  background-color: #8aea92;
  border-style: none;
}

.btn-dark{
  width: 118px;
  height: 35px;
  background-color: #3b5249;
  border-style: none;
}