.header-container{
    width: 100%;
    background: #4A9875;
    margin-left: auto;
    margin-right: auto;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4A9875;
    max-width: 850px;
    width: 90%;
    height: 75px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 316px;
}

.header-title img {
    width: 100%;
}

.header-container a {
    text-decoration: none;
    color: white;
}

