.header-container {
  width: 100%;
  background: #4A9875;
  margin-left: auto;
  margin-right: auto; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4A9875;
  max-width: 850px;
  width: 90%;
  height: 75px;
  color: white;
  margin-left: auto;
  margin-right: auto; }

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 316px; }

.header-title img {
  width: 100%; }

.header-container a {
  text-decoration: none;
  color: white; }

.App {
  height: 100vh;
  width: 100vw; }

.btn-light {
  width: 118px;
  height: 35px;
  background-color: #8aea92;
  border-style: none; }

.btn-dark {
  width: 118px;
  height: 35px;
  background-color: #3b5249;
  border-style: none; }

.form-body-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-height: 100vh;
  width: 100%;
  max-width: 600px; }

.auth-logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 165px;
  margin-bottom: 50px; }

.auth-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background: white;
  max-width: 850px;
  height: 100vh; }

.auth-title-tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.auth-type {
  width: 100%;
  height: 30px;
  border: 1px solid #519872;
  margin-bottom: 25px; }

.button-set {
  display: flex;
  justify-content: space-between;
  max-width: 290px;
  margin-left: auto;
  margin-right: auto; }

.login-btn {
  width: 130px;
  height: 40px;
  background-color: #80EA9B;
  border-style: none;
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-style: normal;
  text-decoration: none;
  font-weight: 700; }

.reg-btn {
  width: 130px;
  height: 40px;
  background-color: #3b5249;
  border-style: none;
  text-decoration: none;
  color: white;
  font-size: 14px;
  color: white;
  font-style: normal;
  text-decoration: none;
  font-weight: 700; }

.dashboard-container {
  height: 100vh;
  width: 100%; }

.form-body {
  margin-left: auto;
  margin-right: auto;
  min-height: 900px;
  max-width: 719px;
  height: 100%;
  background: linear-gradient(180deg, #e2f3ea, #fff);
  padding: 20px; }

.divider {
  display: block;
  width: 100%;
  max-width: 735px;
  height: 1px;
  background: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto; }

.form-reg-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%; }

.filter-container input {
  max-width: 85px;
  height: 25px;
  padding: 5px;
  border-radius: 3px;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #519872;
  margin-left: 5px;
  margin-right: 20px; }

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 19px; }

.filter-btn {
  width: 70px;
  height: 37px;
  background-color: #8aea92;
  border: none;
  font-size: 18px;
  margin-right: 15px; }

.reset-btn {
  width: 70px;
  height: 37px;
  background-color: #3B5249;
  border: none;
  font-size: 18px;
  color: white; }

.add-property-btn {
  border: none;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #8aea92;
  margin-left: auto;
  margin-right: auto; }

.add-property-btn a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: black; }

.home-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 735px; }

.home-listing {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 735px;
  max-height: 150px;
  background: lightgrey; }

.property-picture {
  width: 150px;
  height: 150px;
  background: slategray; }

.property-name {
  padding-left: 10px; }

.divider-listing {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  height: 135px;
  width: 1px;
  background: black; }

.property-value {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 292px; }

.step-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.drk-btn {
  background-color: #3b5249;
  border-style: none;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 20px;
  color: white;
  font-style: normal;
  text-decoration: none; }

.light-btn {
  background-color: #80EA9B;
  border-style: none;
  padding: 10px 30px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 20px;
  color: #3d3d3d;
  font-style: normal;
  text-decoration: none; }

.cancel-btn {
  background-color: #fec2c2;
  border: none;
  height: 32px;
  text-decoration: none; }

.cancel-btn a {
  font-size: 16px;
  color: black;
  text-decoration: none; }

.step-tag {
  font-size: 20px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto; }

.form-label {
  display: flex;
  font-size: 20px;
  margin-left: 15px;
  font-weight: 700;
  margin-top: 15px; }

.form-label-combined {
  display: flex;
  justify-content: space-between; }

.form-input-container {
  width: 45%; }

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto; }

.StepHighlight__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.wizard-input-long {
  width: 100%; }

.wizard-input-big {
  display: flex;
  height: 100px;
  width: 100%;
  text-align: top; }

.wizard-input-short {
  display: flex;
  width: 100%;
  max-width: 247.5px; }

.preview-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  height: 300px;
  background-color: #DEDEDE;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #519872; }

.StepHighlight__container img {
  max-width: 36px; }

.animateOrb {
  animation: test infinite 1.5s ease-in-out; }

.step__btn_container {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

@keyframes test {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

/*# sourceMappingURL=styles.css.map */
